{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/tiagocorrea">Twitter</a></li>
        <li><a href="https://github.com/tiagocorrea">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
